@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-brand-50: #eff6ff;
    --color-brand-100: #dbeafe;
    --color-brand-500: #3b82f6;
    --color-brand-600: #2563eb;
    --color-brand-700: #1d4ed8;
}

.docs-content>hr:last-of-type,
.docs-content>p:last-of-type {
    display: none;
}
